#time-based-style {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

#time-display {
    font-size: 2rem;
}

.aurore {
background-color: #0017b0;
}

.matin {
background-color: lightskyblue;
}

.apres-midi {   
background-color: lightskyblue;
}

.soiree {
background-color: blue;
}

.nuit {
background-color: darkblue;
}

